body {
  background-color: #fcebb6;
  color: #221811;
  padding-left: 5em;
  padding-right: 5em;
}

nav {
  text-align: center;
  font-weight: bold;
}

header {
  text-align: center;
  background-color: #d2b48c;
  line-height: 60px;
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: #d2b48c;
  font-style: italic;
}